@media (max-width: 768px) {
    .container_header {
      padding: 16px;
    }
  
    .nav {
      gap: 12px;
      font-size: 14px;
    }

    #modal {
      width: 100%;
      max-height: 100vh;
      padding: 3rem;
      margin: 0;
    }
  }